<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
		 backupGlobals="false"
		 backupStaticAttributes="false"
		 strict="true"
		 colors="true"
		 verbose="true"
		 processIsolation="true"
         stopOnFailure="false">
	<testsuites>
		<testsuite name="redbean">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>

    <logging>
        <log
            type="tap"
            target="build/logs/report.tap"
        />
        <log
            type="junit"
            target="build/logs/report.junit.xml"
        />
        <log
            type="coverage-html"
            target="build/logs/coverage"
            charset="UTF-8"
            yui="true"
            highlight="true"
        />
        <log
            type="coverage-text"
            target="build/logs/coverage.txt"
        />
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">lib</directory>
		</whitelist>
	</filter>
</phpunit>
